style.css
body {
    font-family: Arial;
    margin: 20px;
}

nav {
    background: lightgray;
    padding: 10px;
}

a {
    margin-right: 10px;
    text-decoration: none;
}

img {
    margin-top: 10px;
}
